.box {
  height: 300px;
  width: 500px;
  margin: 10px;
  position: relative;
  box-shadow: 3px 3px #808080;
}
.image {
  width: 100%;
  height: 100%;
}
.overlay {
  height: 100px;
  width: 150px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.city {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px #000000;
  font-family: arial, helvetica, sans-serif;
}
